.modalEdit {
    position: absolute;
    background-color: #b4eed3;
    width: 500px;
    height: auto;
    padding: 10px;
    top: 20%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,0);
    -webkit-box-shadow: 2px 5px 16px 0px #0B325E, inset -50px -50px 50px -30px rgba(255,39,39,0); 
    box-shadow: 2px 5px 16px 0px #0B325E, inset -50px -50px 50px -30px rgba(255,39,39,0);
}
.modalEdit img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

button.btn.btn-danger.closed {
    position: absolute;
    right: 9px;
    padding: 0;
    font-size: 27px;
    background: none;
    border: none;
    color: black;
    font-weight: 900;
    top: -5px;
}
table.table {
    margin-top: 80px;
}

// modal delete
.fade{
    opacity: 1!important
}
.modal-content {
    top: 100px;
}
.modal-backdrop {
    background-color: #ffffff00!important;
}
.modal-header {
    padding: 20px!important;
}
.modal-dialog {
    width: 400px!important;
}
.errors {
    position: absolute;
    top: 57px;
    left: 0;
    color: red;
    font-size: 18;
    height: auto;
}
.form-group {
    margin-bottom: 18px;
    position: relative;
}