.modalEdit {
    position: absolute;
    background-color: #b4eed3;
    width: 500px;
    height: auto;
    padding: 10px;
    top: 20%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,0);
}
.modalEdit img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

button.btn.btn-danger.closed {
    position: absolute;
    right: 9px;
    padding: 0;
    font-size: 27px;
    background: none;
    border: none;
    color: black;
    font-weight: 900;
    top: -5px;
}
table.table {
    margin-top: 80px;
}

