.sweet-loading {
    background: #9e9e9eba;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999999999999999999;
    transition: 5s ease;
    .css-1lkjh1n {
        width: 100px;
        height: 100px;
        position: absolute!important;
        top: 50%!important;
        left: 50%!important;
        margin: 0!important;
        .css-1vrbbaf-style{
            width: 15px;
            height: 15px;
        }
        .css-19xhc46-style{
            width: 15px;
            height: 15px;
        }
        .css-1r527jf-style{
            width: 15px;
            height: 15px;
        }
    }
}
