*{
    margin:0;
    padding:0;
}
body{
    background-color: #add8e614!important;
}
.wrap{
    position: relative;
}
.input-group {
    float: right;
    width: 100%;
    position: relative;
}
.mb_10{
    margin-bottom: 10px;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    left: 17px;
    top: 5px;
    font-size: 20px;
}
